@{
    ViewData["Title"] = "Home Page";
}
<style>

</style>
<div class="text-center">
    <h1 class="display-4">Welcome To Exceed</h1>

    <div class="container-fluid Index">

        <img src="~/images/exceed.png" />
    </div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
